<div class="left_pannel left" id="left_user_info">
	<div class="avatar mrl">
		<img src="<%=user.avatar || '/imgs/avatar.png' %>"/>
	</div>
	<div class="bigname mrl">
		<span><%=user.username || user.email%></span>
	</div>
	
	<div class="star mrl">
		<div class="fl">
			<a target="_blank" href="<%=user.weibo%>">+关注微博</a>
		</div>
		<div class="fl">
			<a class="weixin">微信</a>
			<div class="weixin_img">
				<div><%=user.weixin || '你还没有填写信息'%></div>
				<div>
					<img src="<%=user.weixin_pic%>"/>
				</div>
			</div>
		</div>
	</div>
	
	<div class="sign">
		<p><%=user.sign[0] || '赶紧去设置自己的签名吧' %></p>
		<p><%=user.sign[1] || ''%></p>
	</div>
	
	<div class="story_num mrl">
		<div class="story_num_n">
			<div class="fl">
				<%=user.replys || '0' %>
			</div>
			<div class="fl"><%=user.posts || '0' %></div>
		</div>
		<div class="story_num_t">
			<div class="fl">发表</div>
			<div class="fl">回复</div>
		</div>
	</div>
	<div class="steptitle">
		我的足迹
	</div>
	<div class="mystep">
		<%if((!user.address || user.address.length === 0) && (!user.continents || user.continents.length === 0)){ %>
			天南海北你还都没去玩呢，赶紧发个“行迹”吧。
		<%}%>
		
		<%for(var i in user.address){%>
			<div class="fl">user.address[i]</div>
		<%}%>
		
		<%for(var j in user.continents){%>
			<div class="fl">user.continents[j]</div>
		<%}%>
	</div>
	
	<div class="left_toogle">
		<div>跳转到详情面板</div>
	</div>
</div>